<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css'%}" />
    <script
      src="https://kit.fontawesome.com/e9df1a3319.js"
      crossorigin="anonymous"
    ></script>
    <link href="{% static 'images/favicon.ico'%}"rel="icon" type="image/x-icon" />

    <title> GreatDebate - Engage, Discuss, Disagree!</title>
  </head>

  <body>
 
    {% include 'navbar.html' %}
    {% block content %}
    
  
    {% endblock %}
    <script src="{% static 'javascript/script.js' %}"></script>
  </body>
</html>













